<main class="main">
    <div class="mainContents" id="postLayout">
        <%- partial("_partial/social") %>
            <div class="post">
                <section class="post-Title">
                    <h1>
                        <%= page.title ? page.title : "No Title" %>
                    </h1>
                    <div class="post-Meta">
                        <time class="date">
                            <%= date(page.date, "YYYY.MM.DD" ) %>
                        </time>
                        <% if (page.categories && page.categories.length){ %>
                            <span class="category"><%- list_categories(page.categories, { show_count: false, class: "" ,
                                    style: "none" , separator: ", " }) %></span>
                            <% } %>
                    </div>
                </section>
                <article class="post-Content">
                    <%# if (moment().unix() - page.date.unix()>= 15552000) { %>
                        <!-- <blockquote>Last modified <%#= Math.ceil((moment().unix() - page.date.unix()) / 86400) %> days ago.
                        Protions of it may be modified. Contact the author for more imformation.</blockquote> -->
                        <%# } %>
                            <%- page.content %>
                </article>
                <section class="post-Near">
                    <ul>
                        <% if( page.prev !==undefined) { %>
                            <li>Previous: <a href="<%= url_for(page.prev.path) %>">
                                    <%= page.prev.title %>
                                </a></li>
                            <% } else { %>
                                <li>Previous: No articles remaining. =v=</li>
                                <% } %>
                                    <% if( page.next !==undefined) { %>
                                        <li>Next: <a href="<%= url_for(page.next.path) %>">
                                                <%= page.next.title %>
                                            </a></li>
                                        <% } else { %>
                                            <li>Next: No articles remaining. =v=</li>
                                            <% } %>
                    </ul>
                </section>
                <% if (page.tags && page.tags.length){ %>
                    <section class="post-Tags">
                        <%- list_tags(page.tags, { show_count: false, class: "" , style: "none" , separator: "" }) %>
                    </section>
                    <% } %>

                        <!-- Mathjax -->
                        <% if (theme.mathjax){ %>
                            <%- partial('_partial/mathjax') %>
                                <% } %>
            </div>
            <aside id="toc-container">
                <nav id="toc"></nav>
            </aside>
    </div>
</main>