<main>
    <div class="wrap min">
        <section class="post-title">
            <h2>
                <%= page.title ? page.title : "No Title" %>
            </h2>
            <div class="post-meta">
                <time class="date">
                    <%= date(page.date, "YYYY.MM.DD" ) %>
                </time>
                <% if (page.categories && page.categories.length){ %>
                    <span class="category"><%- list_categories(page.categories, { show_count: false, class: "" ,
                            style: "none" , separator: ", " }) %></span>
                    <% } %>
            </div>
        </section>
        <article class="post-content">
            <% if (moment().unix() - page.date.unix()>= 15552000) { %>
                <blockquote>Last modified <%= Math.ceil((moment().unix() - page.date.unix()) / 86400) %> days ago.
                        Protions of it may be modified. Contact the author for more imformation.</blockquote>
                <% } %>
                    <%- page.content %>
        </article>
        <section class="post-near">
            <ul>
                <% if( page.prev !==undefined) { %>
                    <li>Previous: <a href="<%= url_for(page.prev.path) %>">
                            <%= page.prev.title %>
                        </a></li>
                    <% } else { %>
                        <li>Previous: No articles remaining. =v=</li>
                        <% } %>
                            <% if( page.next !==undefined) { %>
                                <li>Next: <a href="<%= url_for(page.next.path) %>">
                                        <%= page.next.title %>
                                    </a></li>
                                <% } else { %>
                                    <li>Next: No articles remaining. =v=</li>
                                    <% } %>
            </ul>
        </section>
        <% if (page.tags && page.tags.length){ %>
            <section class="post-tags">
                <%- list_tags(page.tags, { show_count: false, class: "" , style: "none" , separator: "" }) %>
            </section>
            <% } %>
                <% if (theme.author && theme.author_text) { %>
                    <section class="post-author">
                        <% if (theme.author_avatar) { %>
                            <figure class="author-avatar">
                                <img src="<%- theme.author_avatar %>" alt="<%= theme.author %>" />
                            </figure>
                            <% } %>
                                <div class="author-info">
                                    <h4>
                                        <%= theme.author %>
                                    </h4>
                                    <p><%- theme.author_text %></p>
                                </div>
                    </section>
                    <% } %>
    </div>
</main>